<h1>Registration Online</h1>
<div class="flex justify-content-center">
  <div class="lg:w-7 md:w-9 sm:w-12 flex flex-wrap">
    <div class="field col-6">
      <label for="firstName" class="w-5rem text-right mr-3">ชื่อ:</label>
      <input type="text" id="firstName" style="width: 400px" pInputText />
    </div>
    <div class="field col-6">
      <label for="lastName" class="w-5rem text-right mr-3">นามสกุล:</label>
      <input type="text" id="lastName" style="width: 400px" pInputText />
    </div>
    <div class="field col-6">
      <label for="email" class="w-5rem text-right mr-3">อีเมล:</label>
      <input type="text" id="email" style="width: 400px" pInputText />
    </div>
    <div class="field col-6">
      <label for="course" class="w-5rem text-right mr-3">รายวิชา:</label>
      <input type="text" id="course" style="width: 400px" pInputText />
    </div>
    <div class="field col-6">
      <label for="course" class="w-5rem text-right mr-3">สถานะ:</label>
      <input type="text" id="course" style="width: 400px" pInputText />
    </div>
  </div>
</div>
